<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoverX</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/rovers_stylesheet.css">
    <link rel="stylesheet" href="/css/commons.css">
</head>
<body>
<div id="landingWrapper" style="background-color: #212121;">
    <div>
        <%- include("../navbar/navbar") %>
        <div style="height: 150px;"><h1 class="white-text center-align" style="line-height: 150px;">Rovers</h1></div>
    </div>
</div>

    <div class="section-wrapper" id="gallery">
        <div class="row" style="margin-top: 30px;">
            <div class="col m3 s12">
                <div class="row" style="margin-top: 15px;">
                    <div class="col s10 push-s1">
                        <div class="card-panel" id="catPanel">
                            <div class="row"><a id="r1" class="btn btn-flat clicked">Rover 2023<i class="fa fa-caret-left right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r2" class="btn btn-flat">Rover 2022<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r3" class="btn btn-flat">Rover 2021<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r4" class="btn btn-flat">Rover 2020<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r5" class="btn btn-flat">Rover 2019<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r6" class="btn btn-flat">Rover 2018<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r7" class="btn btn-flat">Rover 2017<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r8" class="btn btn-flat">Rover 2016<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <div class="row"><a id="r9" class="btn btn-flat">Rover 2015<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>
                            <!--<div class="row"><a id="r3" class="btn btn-flat">Rover 3<i class="fa fa-caret-left caret right" aria-hidden="true"></i></a></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="r1_c" class="col m8 s12 cont">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/kronos.png">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Kronos</h5>
                                <br>
                                <p>Kronos has a double rocker suspension coupled to a modular space
frame chassis.The aim of the design is to improve accessibility and reduce weight for the rover.Kronos can traverse a wide range of terrains such as rocky, sandy, muddy terrain with steep
drops and harsh climbs.The ground clearance has been increased to prevent collisions with obstacles.The double rocker system coupled with a bar differential helps maintain the center of gravity
and achieve mobility.The rover uses a combination of a sensors and omnidirection antenna for communication between the base station and the rover with a non-line of sight range of 2 kilometers.
The rover is equipped with a suite of sensors to measure atmospheric composition,
temperature, pressure, humidity, and UV radiation.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r2_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/atom.png">
                            </div>
                            
                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Atom</h5>
                                <br>
                                <p>
                                    Atom rover uses a modular chassis with v-slot links for easy assembly and disassembly.It can traverse a wide range of terrains with a double rocker system and bar differential for
                                    low center of gravity.Efficiency and high integration among subsystems are the major focus of this rover. The electrical system uses two lithium polymer batteries and a kill switch for power
                                    interruption.he software for motor control is written in embedded c in a task-oriented manner for efficient
                                    resource management and multitasking & finally the sample caching subsystem has been completely redesigned to use an auger and a
                                    screw conveyor for collecting and distributing soil samples.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="r3_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/URC2021_Rover.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Zeus</h5>
                                <br>
                                <p>ZEUS rover features a single layer aluminum chassis with cruciform structure. Double rocker bar differential suspension system provides better stability and adaptability to terrain.Four
                                    polyurethane balloon tires provide necessary traction and damping.Electrical workflow
                                    focuses on modularity and ease of debugging.Control architecture is a fusion of jetson, nano
                                    and STM 32 Discovery board. Rover is powered by 224 volts lithium polymer batteries and has
                                    a kill switch in case of emergency.The excavation subsystem includes a bucket wheel excavator that can dig up to 10 cm
                                    deep and has a diameter of 22 cm.Rover localization is enhanced through sensor fusion of GPS, compass, IMU and wheel encoder data.
                                    Soil analysis by the rover includes PH, germination and temperature assessment. The rover has
                                    been designed to operate in temperatures ranging from -20°C to 50°C.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r4_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/Yuvaan_ShubhBhai.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Yuvaan</h5>
                                <br>
                                <p>
                                    Built for the URC 2020, Yuvaan retained our signature four-wheel double rocker suspension for its high strength to weight ratio, uniform weight distribution, and increased stability. Featuring a revamped autonomous system with a custom framework that emphasized terrain mapping and contingencies, it allowed for efficient path pre-processing, avoiding non-traversable terrain while improving reliability. The science system of the rover however was the star of the show incorporating various techniques like spectral analysis, wet chemical analysis, and image processing. All these factors enabled Yuvaan to outshine its competition in the IRC 2020 where it ranked 2nd in Asia.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <div id="r5_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/Yuvaan_ShubhBhai.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Yuvaan</h5>
                                <br>
                                <p>
                                    Built for the URC 2020, Yuvaan retained our signature four-wheel double rocker suspension for its high strength to weight ratio, uniform weight distribution, and increased stability. Featuring a revamped autonomous system with a custom framework that emphasized terrain mapping and contingencies, it allowed for efficient path pre-processing, avoiding non-traversable terrain while improving reliability. The science system of the rover however was the star of the show incorporating various techniques like spectral analysis, wet chemical analysis, and image processing. All these factors enabled Yuvaan to outshine its competition in the IRC 2020 where it ranked 2nd in Asia.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r6_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/Kratos_HarshitBhai.png">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Kratos</h5>
                                <br>
                                <p>
                                    2018 saw Team Roverx work on a new rover with concentration on enhancing the core design and architecture. Kratos was designed with the goal of achieving a high strength to weight ratio and making the rover more compact. The team was successful in reducing the weight by 20% in comparison to the previous rover Ares. We shifted to a 4-wheel model which employed a double rocker suspension with a bar differential. A combination of motors and actuators were used to create a manipulator with 6 degrees of freedom. The electrical department shifted the entire power distribution assembly and control system onto custom made PCBs to increase space and energy efficiency. The communication with the rover was established using ROS framework. A fully automated light weight soil collection mechanism was designed to provide a detailed soil profile. 
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r7_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="/Assets/Rovers/Ares_PranavBhai.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Ares</h5>
                                <br>
                                <p>
                                    Ares was the team's debut rover in the University Rover Challenge held in 2018. The main objective while designing Ares was to simplify the design, have onboard backup systems and ease of control to make sure tasks are completed with ease. With a chassis designed with a factor of safety of about 3 and a three rocker suspension system, the rover could traverse extreme martian terrain with ease. The rover was also equipped with a state of the art science system employing site selection and documentation, sensor data acquisition, sample caching and laboratory analysis. With all these features, the rover was fully equipped to assist astronauts on martian missions and proved itself in competition.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r8_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                                <img class="materialboxed" src="http://res.cloudinary.com/team-roverx/image/upload/v1504630220/rover2016_2_fffgkg.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Enigma MK2</h5>
                                <br>
                                <p>
                                    The latest edition of the Mars rover, named Enigma MK2, was designed and fabricated by Team RoverX for ERC 2016, Poland. It was well monitored in terms of safety, scalability and reliability. The Rover also provided wireless capability to establish a reliable connection with the base station. It also had GPS technology embedded in it to display its current location. In addition to these, it also featured two manipulators and other electrical housings mounted on an aluminium frame. The rover employed a total of 4 cameras mounted at different positions in order to aid rover operation during various tasks with ease.  It was also equipped with a custom-made safety system which is designed to ensure the safety for the rover in emergency situations. The complete assembly weighed 49kgs.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="r9_c" class="col m8 s12 cont hide">
                <div class="row card-panel" style="padding: 0">
                    <div class="card">
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-image">
                              <img class="materialboxed" src="http://res.cloudinary.com/team-roverx/image/upload/v1504630220/rover2015_2_iu71p6.jpg">
                            </div>

                        </div>
                        <div class="col m6 s12" style="flex-grow: 1">

                            <div class="card-content" style="text-align: justify;">
                                <h5>Enigma MK1</h5>
                                <br>
                                <p>
                                    The Rover, Enigma MK1, marked our team's debut in representing our college and country in international competitions such as the ERC, Poland. In doing so, it gathered huge appreciation from other teams, besides winning several accolades and setting the benchmark for our future rovers. This rover featured 3 independent rocker suspension systems, with the maximum angle of rotation of its rocker being 45°, and a good ground clearance of 100mm. It could easily be controlled from any personal computer (connected to the same Wi-Fi network) using a Secure Shell (SSH), without the need for any extra software and video feeds. All its features made the Rover prepared to perform its required Science, Blind Terrain Traverse, Maintenance and Assistance tasks
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../footer/footer") %>

    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/inc.js"></script>
    <script src="/javascript/smooth-scroll.min.js"></script>
    <script src="/javascript/scrollTop.js"></script>
    <script src="/javascript/rovers_script.js"></script>
    <script>
        var side=function () {
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $('.dropdown-button').dropdown();
        };
    </script>
</body>
</html>
