<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoverX</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/competitions_stylesheet.css">
    <link rel="stylesheet" href="/css/commons.css">
</head>
<body>
  <div id="landingWrapper" style="background-color: #212121;">
    <div>
        <%- include("../navbar/navbar") %>
        <div style="height: 150px;"><h1 class="white-text center-align" style="line-height: 150px;">Competitions</h1></div>
    </div>
</div>

    <div class="section-wrapper" id="competitions">
        <div class="row competitions-list" style="margin-top: 30px;">

          <div class="row competition">
            <div class="col s12 m3 l3 competition-left">
              <a href="http://urc.marssociety.org/"><h5 style="text-align: center;color: black"><span class="green-text">URC<br></span>University Rover Challenge</h5></a>
            </div>
            <div class="col s12 m9 l9 competition-right">
              The University Rover Challenge (URC) is one of the most renowned robotics competition for college students.  It is held annually in the desert of southern Utah in the United States. URC includes student teams competing to design and build the next generation of Mars rovers that will one day work alongside astronauts exploring Mars. It was launched in 2006 and has been hosting competitions ever summer since 2007.
            </div>
          </div>
          <br>
          <div class="row competition">
            <div class="col s12 m3 l3 competition-left">
              <a href="http://roverchallenge.eu/en/"><h5 style="text-align: center; color: black"><span class="green-text">ERC<br></span>European Rover Challenge</h5></a>
            </div>
            <div class="col s12 m9 l9 competition-right">
              European Rover Challenge is the biggest robotics-space event in Europe. ERC is a part of Rover Challenge Series – the most prestigious robotics challenge league.
European Rover Challenge is a four-day event divided into: the international Mars robots competition, comprising student teams from around the world; the science and technology show; and the knowledge zone, which includes the Economic and Scientific Conference and the Mentoring Workshop.
            </div>
          </div>
          <br>
         
          <div class="row competition">
            <div class="col s12 m3 l3 competition-left">
              <a href="https://southasia.marssociety.org/"><h5 style="text-align: center;color: black"><span class="green-text">IRC<br></span>Indian Rover Challenge</h5></a>
            </div>
            <div class="col s12 m9 l9 competition-right">
              Start by Team RoverX in 2018, Indian Rover Challenge is a rover Challenge primarly focused on increasing research into rover design by Indian Universities. The inaugral edition saw participation by 10+ teams from India as well as Bangladesh.
            </div>
          </div>
          <div class="row competition">
            <div class="col s12 m3 l3 competition-left">
              <a href="https://southasia.marssociety.org/"><h5 style="text-align: center;color: black"><span class="green-text">IRDC<br></span>Indian Rover Design Challenge</h5></a>
            </div>
            <div class="col s12 m9 l9 competition-right">
              The Indian Rover Design Challenge (IRDC), organised by the Mars Society South Asia, is a competition for university students which challenges them to design Mars rovers that are fully equipped and mission ready for Operation on Mars considering the various extra-terrestrial parameters. With no constraint on any physical resources, this competition encourages students to be as imaginative, creative and insightful as possible within practical implementable limits. The first of its kind virtual design competition challenges the boundaries or our innovation, creativity and core competency. The first edition of the competition held in 2020 saw 28 teams from 7 countries designing rovers conceptualizing future Mars missions.
            </div>
          </div>
        </div>
    </div>

    <%- include("../footer/footer") %>

    </div>
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/inc.js"></script>
    <script src="/javascript/picturehover.min.js"></script>
    <script src="/javascript/smooth-scroll.min.js"></script>
    <script src="/javascript/scrollTop.js"></script>
    <script src="/javascript/competitions_script.js"></script>
    <script>
        var side=function () {
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $('.dropdown-button').dropdown();
        };
    </script>
</body>
</html>
