
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoverX</title>
    <link rel="icon" href="http://res.cloudinary.com/team-roverx/image/upload/v1504630253/x_logo_fyi5oc.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/jquery.bxslider.min.css">
    <link rel="stylesheet" href="/css/commons.css">

</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
        <ul id="team" class="dropdown-content"  style="margin-top: 65px;">
      <li><a href="/team/team2022">Team 2022</a></li>
      <li><a href="/team/team2021">Team 2021</a></li>
      <li><a href="/team/team2020">Team 2020</a></li>
      <li><a href="/team/team2019">Team 2019</a></li>
      <li><a href="/team/team2018">Team 2018</a></li>
      <li><a href="/team/team2017">Team 2017</a></li>
      <li><a href="/team/team2016">Team 2016</a></li>
      <li><a href="/team/team2015">Team 2015</a></li>
    </ul>
    <ul id="slide-out" style="width: 45vw;" class="side-nav collapsible">
        <li><a href="/">Home</a></li>
        <li><a href="/rovers">Rover</a></li>
        <li><a href="/competitions">Competitions</a></li>
        <li>
            <a class="collapsible-header" href="#!" data-activates="team">Team<i class="fa fa-caret-down right"></i></a>
            <div class="collapsible-body">
                <ul>
                  <li><a href="/team/team2022">Team 2022</a></li>
                  <li><a href="/team/team2021">Team 2021</a></li>
                  <li><a href="/team/team2020">Team 2020</a></li>
                  <li><a href="/team/team2019">Team 2019</a></li>
                  <li><a href="/team/team2018">Team 2018</a></li>
                  <li><a href="/team/team2017">Team 2017</a></li>
                  <li><a href="/team/team2016">Team 2016</a></li>
                  <li><a href="/team/team2015">Team 2015</a></li>
                </ul>
            </div>
        </li>


        <li><a href="/media">Media</a></li>
        <li><a href="/sponsors">Our Sponsors</a></li>
        <li><a href="/contact">Support us</a></li>
        <li><a href="/contact#contactFocus">Contact us</a></li>
    </ul>

    <div class="section_wrapper" id="landingWrapper" >
        <div class="section" id="landing">
            <div class="slider fullscreen">
                <ul class="slides">
                    <li>
                        <img src="Assets/20180601_154412.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img src="http://res.cloudinary.com/team-roverx/image/upload/v1504630265/2_ixsota.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img src="http://res.cloudinary.com/team-roverx/image/upload/v1504630257/3_igsvix.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img src="http://res.cloudinary.com/team-roverx/image/upload/v1504630241/4_wbikms.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img src="http://res.cloudinary.com/team-roverx/image/upload/v1504630261/5_xipdwk.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img src="http://res.cloudinary.com/team-roverx/image/upload/v1504630247/6_efheya.jpg"> <!-- random image -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="section_wrapper" id="landData" style="z-index: 500">
            <!--<div style="height: 35vh;position: relative;" class="hide-on-large-only">-->
                <!---->
            <!--</div>-->
            <!--<div style="position: absolute;right: 20px;"></div>-->
            <div class="nav-wrapper navbar-fixed" >
                <nav>
                    <a href="#" class="brand-logo"><img src="Assets/roverX.svg" class="responsive-img" alt=""></a>
                    <a href="#" data-activates="slide-out" class="button-collapse right"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/rovers">Rover</a></li>
                        <li><a href="/competitions">Competitions</a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="team">Team  <i class="fa fa-caret-down"></i></a></li>
                        <li><a href="/media">Media</a></li>
                        <li><a href="/sponsors">Our Sponsors</a></li>
                        <li><a href="/contact">Support us</a></li>
                        <li><a href="/contact#contactFocus">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logoWrap" style="width: 100%;z-index: 501">
                <div class="container">
                    <div class="row">
                        <div>
                            <h2 class="center-align"><span class="white-text">EXPLORE BEYOND THE <span id="type" class="greenText">POSSIBLE</span></span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caretWrap">
                <a data-scroll href="#about"><img src="Assets/caret.svg" class="responsive-img" alt=""></a>
            </div>
        </div>
    </div>
    <div style="margin-top: 35px;" class="section_wrapper row">
        <div class="col l9 m8 s12" id="about">
            <div><h5>About</h5><br><h3 style="margin-top: -20px;">Rover <span style="margin-left: -10px;" class="greenText">X</span></h3></div>
            <div style="margin-top: 35px;text-align: justify;" class="row container">
            <p>Team RoverX is a group of young, enthusiastic individuals who build Mars rovers by the year to display and compete at various platforms. A part of Creation Labs VIT University, we seek to bring our ideas to life by innovating and working hard on our projects. The awards and accolades we've achieved are only proof that we've delivered consistently.</p>
            <br>
            <p>Our prototype is used to compete in different international competitions including URC (University Rover challenge), ERC (European Rover Challenge) and UKURC (The UK’s University Rover Challenge). These competitions provide a platform for student-run teams from all over the globe to showcase their respective rovers.</p>
            <br>
            <p>Working on our rover exposes us to various other practical and theoretical disciplines of engineering, thereby providing depth to our knowledge. As a team, we begin to understand the work culture in industries and problem-solving in real-time, while following a timeline based approach. These are merely stepping stones to the engineering world we all aspire to be a part of.</p>
            <br>
            </div>
        </div>
        <div class="col l3 m4 s12 hi" id="fb">
            <div class="container" style="width: 100%">
                <div class="fb-page" data-href="https://www.facebook.com/teamroverx/" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/teamroverx/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/teamroverx/">Team RoverX</a></blockquote></div>
                <a style="margin-top: 10px;" class="waves-effect waves-light btn-flat" href="https://www.instagram.com/teamroverx/"><p><i class="fa fa-instagram" aria-hidden="true"></i>  Follow us on Insta !</p></a>
            </div>
        </div>
    </div>
    <div style="margin-top: -55px;" class="section_wrapper row container">
        <div>
            <h4><span class="greenText">A</span>chievements</h4>
        </div>
        <div class="container" style="width: 80%;margin-left: 19%;">
        <div class="col m8 push-m2 s12 slider8" style="position: absolute;height: 100px;">
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Achivements/IRC20223.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2023</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In International Rover Challenge 2023 we were placed</li>
                        <li style="list-style-type: none!important"><b>2nd Overall</b> Worldwide</li>
                        <li style="list-style-type: none!important"><b>1st</b> in Asia</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Achivements/irdc 2022.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2023</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In International Rover Challenge 2023 we were placed</li>
                        <li style="list-style-type: none!important"><b>2nd Overall</b> Worldwide</li>
                        <li style="list-style-type: none!important"><b>1st</b> in Asia</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>

          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Achivements/irdc 2021.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2021</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In International Rover Design Challenge 2021 we were placed</li>
                        <li style="list-style-type: none!important"><b>1st Position</b> Worldwide</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/URC2021_Rover.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2021</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">University Rover Challenge 2021 SAR Score: <b>89/100</b></li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/IMH2020_AkshithBhai.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2020</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In International Mars Hackathon 2020 we were placed </li>
                        <li><b>8th</b> overall among 24 international teams</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/IRDC2020_AkshithBhai.jpeg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2020</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In Indian Rover Design Challenge 2020 we were placed </li>
                        <li><b>8th</b> Worldwide</li>
                        <li>Innovation Award for the <b>Best Drive System</b></li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/Yuvaan_ShubhBhai.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2020</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In University Rover Challenge 2020 we were placed </li>
                        <li><b>10th</b> Worldwide</li>
                        <li>SAR Score - <b>91/100</b></li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/Yuvaan_ShubhBhai_2.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2020</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In Indian Rover Challenge 2020 we were placed </li>
                        <li><b>4th</b> overall among 35 teams</li>
                        <li><b>2nd</b> in India</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/Kratos_HarshitBhai.png">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2019</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In Indian Rover Challenge 2019 we were placed </li>
                        <li><b>4th</b> overall among 10 international teams</li>
                        <li><b>2nd</b> in India</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/Kratos_HarshitBhai.png">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2019</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In University Rover Challenge 2019 we were placed </li>
                        <li><b>24th</b> overall among 95 teams</li>
                        <li><b>6th</b> in Asia</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="/Assets/Rovers/Ares_PranavBhai.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2018</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In University Rover Challenge 2018 we were placed </li>
                        <li><b>20th</b> overall among 95 teams</li>
                        <li><b>4th</b> in Asia</li>
                        <li><b>2nd</b> in India</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
                <div class="col m6 s12 pull-l2 pull-m2">
                    <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/v1504630245/7_fok3mg.jpg">
                </div>
                <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                  <div>
                    <h5>2016</h5>
                    <br>
                    <p>
                      <ul>
                        <li style="list-style-type: none!important">In European Rover Challenge 2016 we were placed </li>
                        <li><b>12th</b> overall</li>
                        <li><b>1st</b> in Asia</li>
                        <li><b>2nd</b> in technical presentation</li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>
          </div>
        <div class=" slide">
              <div class="row">
              <div class="col m6 s12 pull-m2 pull-l2">
                  <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/v1504630248/8_qrohho.jpg">
              </div>
              <div class="col m6 s12 pull-m2 pull-l2 achievement-text">
                <div>
                  <h5>2015</h5>
                  <br>
                  <p>
                    <ul>
                      <li style="list-style-type: none!important">In European Rover Challenge 2015 we were placed </li>
                      <li><b>13th</b> overall</li>
                      <li><b>1st</b> in Asia Pacific</li>
                      <li><b>2nd</b> in Rover design</li>
                      <li><b>4th</b> in technical specification</li>
                      <li>Best project award in VIT</li>
                    </ul>
                  </p>
                </div>
              </div>
        </div>
      </div>
        </div>
      </div>
        </div>
        </div>
    </div>


    <!--            Seccond Crousal                  -->

 <!-- 
<div style="margin-top: 35px;" class="section_wrapper row">
        <div>
            <h4><span class="greenText">R</span>ecent <span class="greenText">A</span>ctivities</h4>
        </div>
        <div class="container">
            <div class="slider8">
                <div class=" slide">
                  <div class="row">
                  <div class="col m6 s12">
                      <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/v1493942517/recent%20activities/Capture.png">
                  </div>
                  <div class="col m6 s12" style="text-align: justify;">
                      <h5>GCASTM17</h5>
                      <br>
                      <p>
                        In January 2017, VIT organised Global Conference and a Student Project Competition seminar in collaboration with various international universities including Purdue University, Harvard University, Oxford University and many more. This international collaboration provided sufficient commitment from the authorities, paving the way for enhanced cooperation. The conference covered a wide spectrum of topics, from sciences to engineering and technology, and from management to law. It will also feature research paper presentations, workshops, researcher conclave, and poster presentations.
                        Our project was appreciated by all the members of the review panel and we were given Special Mention award for this.
                      </p>
                  </div>
                </div>
              </div>
              <div class=" slide">
                <div class="row">
                  <div class="col m6 s12">
                      <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/c_limit,h_252,w_476/v1493942518/recent%20activities/VIT_PURDUE_Hack.jpg">
                    </div>
                  <div class="col m6 s12">
                    <div style="text-align: justify;">
                      <h5>Purdue-VIT Hackathon</h5>
                      <br>
                      <p>
                        A delegation from Purdue University, consisting of 4 faculty members and 26 students, visited VIT University, Vellore. The visiting students, along with members of our team and the Creation Labs at VIT, participated in a mini-hackathon wherein they worked together on existing projects at Creation Labs and developed innovative solutions for the same. The Pro Vice-Chancellor graced the occasion and expressed his vision to forge a long-lasting partnership between Purdue University and VIT.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" slide">
                <div class="row">
                  <div class="col m6 s12">
                    <div>
                      <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/c_limit,h_252,w_476/v1493942515/recent%20activities/CLAB_Expo.jpg">
                    </div>
                  </div>
                  <div class="col m6 s12">
                    <div style="text-align: justify;">
                      <h5>Project EXPO 2017</h5>
                      <br>
                      <p>
                        The Creation Labs hosted the "Project Expo" featuring internal ongoing projects, exclusively for faculties. Our project was greatly appreciated by all the members and the faculties of the university.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" slide">
                <div class="row">
                  <div class="col m6 s12">
                    <div>
                      <img class="responsive-img" src="http://res.cloudinary.com/team-roverx/image/upload/c_limit,h_252,w_476/v1493942509/recent%20activities/Picture20.png">
                    </div>
                  </div>
                  <div class="col m6 s12">
                    <div style="text-align: justify;">
                      <h5>Enigma Mk2.0 Launch</h5>
                      <br>
                      <p>
                        We showcased the Enigma Mk2.0 for the very first time during our launch event which attracted a huge enthusiastic crowd. This opened the doors for them to explore the lengths of the world, to dream the unthinkable, and to discover.
                      </p>
                    </div>
                  </div>
                </div>
              </div></div>
        </div>
    </div> -->

    <%- include("./footer/footer") %>
    
    <style>
        @media screen and (min-width: 1170px) {
            .footer_wrapper {
                height: 280px;
            }
        }
    </style>
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/smooth-scroll.min.js"></script>
    <script src="/javascript/jquery.bxslider.min.js"></script>
    <script src="/javascript/javascript.js"></script>
    <script src="/javascript/scrollTop.js"></script>
    <script src="/javascript/jquery.typeout.min.js"></script>
    <script>
        $('#type').typeOut({
            delay : 90, // the delay between display of characters
            preserve : true, // Maintains HTML within the element
            marker : '|' // the marker that is placed before the typed text
        });
        $(function () {
            smoothScroll.init();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
        });
        $('#right-scroll').click(function () {
            $('.carousel').carousel('next');
        });
        $('#left-scroll').click(function () {
            $('.carousel').carousel('prev');
        });
        $('.slider').slider({full_width: true,indicators:false,interval: 5000});
        $('.carousel.carousel-slider').carousel({fullWidth: true,indicators:false});
        autoplay();
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        }
    </script>
	<!-- Website optimized by Jishu Dohare -->
  <!-- Website rework done by Amrit Rout in 2023 -->
  
</body>
</html>
