<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoverX</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/team_stylesheet.css">
    <link rel="stylesheet" href="/css/commons.css">
</head>
<body>
    <div id="landingWrapper" style="background-color: #212121;">
        <div>
            <%- include("../navbar/navbar") %>
            <div style="height: 150px;"><h1 class="white-text center-align" style="line-height: 150px;">Team 2022</h1></div>
        </div>
    </div>

<div class="section-wrapper" style="margin-top: 30px;" id="gallery">
        <div class="container">
            <div class="row">
        
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Omkar Kabadagi New.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Amul Thatai</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">Captain</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Kadambari Bhujbal.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Vedant Kulkarni</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">Vice Captain</span>
                            </div>
                        </div>
                    </div>

            </div>
                <h4><span class="greenText">M</span>echanical </h4>
                <div class="row" >
                    <div class="col l3 m3 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Azam Ali New.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Harsh Chakraborty</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">Mechanical Head</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Shruti</h4>
                                        <h5 class="grey-text text-darken-3 center-align"></h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Yashasvi Yadav New.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Madhav Chopra</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Prakriti Prasad New.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Kunj Goel</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Samin M.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Ashutosh Parmar</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Gautam Batra.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Swayam Swastik Dash</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
            <h4><span class="greenText">E</span>lectrical</h4>
            <div class="row">
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Sudiir Mohan New.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Swastid Kasture</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">Electrical Head</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		            <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Amul Thatai.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Devesh Shevde</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <h4><span class="greenText">C</span>omputer <span class="greenText">S</span>cience</h4>
            
                <div class="row" >
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Devanshu Sharma.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Devanshu Sharma</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">CS Head</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Aman Jyoti Deka.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Ujjwal Garg</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Devanshu Sharma.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Shaunak Pal</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Tumu Avinash.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Daggupati Harshill</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <h4><span class="greenText">M</span>anagement</h4>
            <div class="row">
            	<div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Samarpan Farmer.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Samarpan Farmer</span>
                                <span class="card-title activator grey-text text-darken-4 center-align">Team Manager</span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col l3 m4 s6">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                                <img class="activator responsive-img" src="/Assets/ProfilePhotos/Swastid Kasture.jpeg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator greenText center-align">Swastid Kasture</span>
                                <span class="card-title activator grey-text text-darken-4 center-align"></span>
                            </div>
                            <div class="card-reveal">
                                <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                                <div style="position: relative;">
                                    <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                        <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                        <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                        <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>  
            <h4><span class="greenText">S</span>cience</h4>
            <div class="row">
                <div class="col l3 m4 s6">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                            <img class="activator responsive-img" src="/Assets/ProfilePhotos/Shashank Bagaria.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator greenText center-align">Shashank Bagaria</span>
                            <span class="card-title activator grey-text text-darken-4 center-align">Science Head</span>
                        </div>
                        <div class="card-reveal">
                            <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                            <div style="position: relative;">
                                <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                    <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                    <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                    <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s6">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                            <img class="activator responsive-img" src="/Assets/ProfilePhotos/Disha Mukherjee.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator greenText center-align">Disha Mukherjee</span>
                            <span class="card-title activator grey-text text-darken-4 center-align"></span>
                        </div>
                        <div class="card-reveal">
                            <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                            <div style="position: relative;">
                                <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                    <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                    <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                    <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s6">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                            <img class="activator responsive-img" src="/Assets/ProfilePhotos/Shashank Bagaria.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator greenText center-align">Shashank Bagaria</span>
                            <span class="card-title activator grey-text text-darken-4 center-align"></span>
                        </div>
                        <div class="card-reveal">
                            <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                            <div style="position: relative;">
                                <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                    <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                    <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                    <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4><span class="greenText">R</span>esearch <span class="greenText">D</span>evelopment</h4>
            <div class="row" >
                <div class="col l3 m4 s6">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
                            <img class="activator responsive-img" src="/Assets/ProfilePhotos/Renitt Paul New.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator greenText center-align">Shaurya Chandra</span>
                            <span class="card-title activator grey-text text-darken-4 center-align">Design Head</span>
                        </div>
                        <div class="card-reveal">
                            <p class="card-title center-align"><i class="fa fa-times right" aria-hidden="true"></i></p>
                            <div style="position: relative;">
                                <div style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: 40px;">
                                    <h4 class="grey-text text-darken-4 center-align">Name</h4>
                                    <h5 class="grey-text text-darken-3 center-align">Position</h5>
                                    <a style="margin-top: 15px;" class="center-align" href="#"><span style="transform: translateX(60%);width: 40px;height: 40px;" class="social"><i style="margin-left: 5px;font-size: 39px;" class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                </div>
            </div>
            </div>

            </div>     
        </div>
            
        </div>
    </div>
</div>

<%- include("../footer/footer") %>

    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/inc.js"></script>
    <script src="/javascript/team_script.js"></script>
    <script src="/javascript/smooth-scroll.min.js"></script>
    <script src="/javascript/scrollTop.js"></script>
    <script>
        var side=function () {
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $('.dropdown-button').dropdown();
        };
    </script>
</body>
</html>
