<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoverX</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/sponsors_stylesheet.css">
    <link rel="stylesheet" href="/css/commons.css">

</head>
<body>
    <div id="landingWrapper" style="background-color: #212121;">
        <div>
            <%- include("../navbar/navbar") %>
            <div style="height: 150px;"><h1 class="white-text center-align" style="line-height: 150px;">Sponsors</h1></div>
        </div>
    </div>

    <!--<h2 class="center-align grey-text text-darken-2">Title Sponsors</h2>-->
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s4 push-m1"><img title="Reliance industries limited" src="http://res.cloudinary.com/team-roverx/image/upload/v1493459179/sponsors/1280px-Reliance_Industries_Logo.svg.png" class="responsive-img" style="max-height: 150px; width: 50%;" alt=""></div>
                <div style="margin-top: 30px;" class="col m3 s2 push-m1"><img title="Space Robotics Society" src="../Assets/Sponsors/Space-Robotics-Society-Logo-2.png" class="responsive-img" style="max-height: 100px; width: 60%;" alt=""></div>
                <div style="margin-top: 30px;" class="col m3 s4 push-m2"><img title="Bilda" src="../Assets/Sponsors/BILDA.png" class="responsive-img" style="max-height: 100px;" alt=""></div>
            </div>
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s4"><img title="ProtoCase" src="../Assets/Sponsors/ProCase.jpeg" class="responsive-img" style="max-height: 150px; width: 80%;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s4"><img title="Thunder Optics" src="../Assets/Sponsors/Thunder Optics.png" class="responsive-img" style="max-height: 200px; width: 100%;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s4"><img title="PCB Power Market" src="../Assets/Sponsors/PCB Power Market.jpg" class="responsive-img" style="max-height: 250px;" alt=""></div>
            </div>
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s4"><img title="SERVOCITY" src="../Assets/Sponsors/Servo.jpeg" class="responsive-img" style="max-height: 150px;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s4 push-m1"><img title="Altair" src="../Assets/Sponsors/Altair.jpeg" class="responsive-img" style="max-height: 150px; width: 60%;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s4"><img title="SolidWorks" src="../Assets/Sponsors/SW.jpeg" class="responsive-img" style="max-height: 150px;" alt=""></div>
            </div>
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s4"><img title="Wheel EEZ" src="../Assets/Sponsors/WEez.jpeg" class="responsive-img" style="max-height: 150px;" alt=""></div>
            </div>

        </div>
    </div>
    <!--<h2 class="center-align grey-text text-darken-2">Gold Sponsors</h2>-->
    
    <!--<h2 class="center-align grey-text text-darken-2">Silver Sponsors</h2>
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s12 push-m2"><img title="IEEE COMPUTER SOCIETY" src="../Assets/ieee_cs_logo.svg" class="responsive-img" style="max-height: 100px;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s12 push-m2"><img title="IEEE COMPUTER SOCIETY" src="../Assets/ieee_cs_logo.svg" class="responsive-img" style="max-height: 100px;" alt=""></div>
            </div>
        </div>
    </div>
    &lt;!&ndash;<h2 class="center-align grey-text text-darken-2">Bronze Sponsors</h2>&ndash;&gt;
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div style="margin-top: 30px;" class="col m4 s12 push-m2"><img title="IEEE COMPUTER SOCIETY" src="../Assets/ieee_cs_logo.svg" class="responsive-img" style="max-height: 100px;" alt=""></div>
                <div style="margin-top: 30px;" class="col m4 s12 push-m2"><img title="IEEE COMPUTER SOCIETY" src="../Assets/ieee_cs_logo.svg" class="responsive-img" style="max-height: 100px;" alt=""></div>
            </div>
        </div>
    </div>-->
    <%- include("../footer/footer") %>

    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/inc.js"></script>
    <script src="/javascript/picturehover.min.js"></script>
    <script src="/javascript/smooth-scroll.min.js"></script>
    <script src="/javascript/scrollTop.js"></script>
    <script src="/javascript/sponsors_script.js"></script>
    <script>
        var side=function () {
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
            );
            $('.dropdown-button').dropdown();
        };
        $(function () {
            smoothScroll.init();
            $('.row').picturehover();
            $('#head').inc('../navbar/navbar.html',null,side);
            $('#footer').inc('../footer/footer.html');
        });
    </script>
</body>
</html>
