<div id="footer">
    <div class="footer_wrapper row" >
        <div class="col m4 s12 push-m8" style="padding: 20px 10px 0;font-size: 80%;">
            <!--style="background-size: cover;background: url('Assets/Flogo.svg') no-repeat bottom;"-->
            <div id="contact_footer" class=" white-text" >
                <h5 style="margin: 0;">Contact us !</h5>
                <div style="width: 100%;height: 1px;"><span class="divider right" style="width: 100%;"></span></div>
                <br>
                <p><i class="fa fa-map-marker"></i> Creation Labs,<br> VIT University, Vellore</p>
                <p>Tamil Nadu</p>
                <a href="mailto:roverteam.vit@gmail.com">roverteam.vit@gmail.com</a>
                <p>Captain:  +91-9810205812</p>
            </div>
        </div>
        <div class="col m4 s12 pull-m4" style="padding: 20px 10px 0;">

            <div class="row footerMember"><img style="width: 170px;" src="../Assets/vit_logo.svg" class="responsive-img" alt=""></div>
             <div class="row footerMember"><img style="width: 250px; margin-top: 50px;" src="../Assets/Logo.svg" class="responsive-img" alt=""></div>
        </div>
        <div class="col m4 s12 pull-m4" style="padding: 20px 10px 0;">
            <div class="row center-align" style="margin-top: 50px;">
                <a class="icon-link round facebook fill" href="https://www.facebook.com/teamroverx/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="icon-link round instagram fill" href="https://www.instagram.com/teamroverx/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="icon-link round linkedin fill" href="https://www.linkedin.com/company/teamroverx/"><i class="fa fa-linkedin"></i></a>
                <a class="icon-link round youtube fill" href="https://www.youtube.com/watch?v=9bphrLD73B0" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="row center-align" style="margin-top: 10px;">
                <img style="width: 200px;" src="/Assets/Creation Lab Logo White.png" class="responsive-img" alt="">
            </div>
        </div>
        <a data-scroll id="Totop" href="#landingWrapper" class="scale-transition scale-out btn-floating tooltipped btn-large waves-effect waves-light white" data-position="left" data-delay="50" data-tooltip="Go to top" style="position: fixed;bottom: 5px;right: 5px;z-index: 900"><i style="color: #689f38;" class="fa fa-caret-up"></i></a>
    </div>
</div>

<style>
    #contact_footer{
      font-size: 150%!important;
    }
    .slide{
      min-height: 40vh;
      padding: 0;
      margin: 0;
    }
    .achievement-text div{
      padding-top: 10%;
    }
    #achieve ul li{
      font-size: 150%;
      margin-left: 5%;
      list-style-type: disc!important;
    }
  </style>
  <style>
      .icon-link {
          width: 60px;
          height: 60px;
          background-color: #666;
          line-height: 60px;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
          cursor: pointer;
          outline: none;
          margin: 5px;
          box-sizing: content-box;
      }
      .icon-link.fill.facebook {
          background-color: #3b5998;
      }
      .icon-link.fill.facebook:hover {
          background-color: #fff;
      }
      .icon-link.fill.facebook:hover .fa-facebook {
          color: #3b5998;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link.fill.instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
      }
      .icon-link.fill.instagram:hover {
          background-color: #fff;
      }
      .icon-link.fill.instagram:hover .fa-instagram {
          color:deeppink;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link.fill.linkedin {
          background-color: #007bb6;
      }
      .icon-link.fill.linkedin:hover {
          background-color: #fff;
      }
      .icon-link.fill.linkedin:hover .fa-linkedin {
          color: #007bb6;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link.fill.youtube {
          background-color: #df1c31;
      }
      .icon-link.fill.youtube:hover {
          background-color: #fff;
      }
      .icon-link.fill.youtube:hover .fa-youtube {
          color: #df1c31;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link.brand {
          background-color: #fff;
      }
      .icon-link.brand .fa {
          color: #006FC2;
      }
      .icon-link.round {
          border-radius: 50%;
      }
      .icon-link.round-corner {
          border-radius: 5px;
      }
      .icon-link:hover {
          -webkit-transition: background-color 150ms ease-in-out;
          transition: background-color 150ms ease-in-out;
          height: 56px;
          line-height: 56px;
          width: 56px;
          background-color: #fff;
      }
      .icon-link:hover.facebook {
          border: 2px solid #3b5998;
      }
      .icon-link:hover.instagram {
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
          box-shadow: 0px 3px 10px rgba(0,0,0,.25);
          border: 2px solid #d6249f;
      }
      .icon-link:hover.linkedin {
          border: 2px solid #007bb6;
      }
      .icon-link:hover.youtube {
          border: 2px solid #df1c31;
      }
      .icon-link:hover .fa {
          line-height: 56px;
      }
      .icon-link:hover .fa-facebook {
          color: #3b5998;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      icon-link:hover .fa-instagram {
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
          box-shadow: 0px 3px 10px rgba(0,0,0,.25);
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link:hover .fa-linkedin {
          color: #007bb6;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link:hover .fa-youtube {
          color: #df1c31;
          -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
      }
      .icon-link .fa {
          color: #fff;
          line-height: 60px;
          font-size: 36px;
      }
  
      .brand-icons {
          background-color: #ddd;
          padding: 10px 0;
      }
  
  </style>