
<div id="head">
    <ul id="team" class="dropdown-content"  style="margin-top: 65px;">
        <li><a href="/team/team2022">Team 2022</a></li>
        <li><a href="/team/team2021">Team 2021</a></li>
        <li><a href="/team/team2020">Team 2020</a></li>
        <li><a href="/team/team2019">Team 2019</a></li>
        <li><a href="/team/team2018">Team 2018</a></li>
        <li><a href="/team/team2017">Team 2017</a></li>
        <li><a href="/team/team2016">Team 2016</a></li>
        <li><a href="/team/team2015">Team 2015</a></li>
    </ul>
    <ul id="slide-out" style="width: 45vw;" class="side-nav collapsible">
        <li><a href="/">Home</a></li>
        <li><a href="/rovers">Rover</a></li>
        <li><a href="/competitions">Competitions</a></li>
        <li>
            <a class="collapsible-header" href="#!" data-activates="team">Team<i class="fa fa-caret-down right"></i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="/team/team2022">Team 2022</a></li>
                    <li><a href="/team/team2021">Team 2021</a></li>
                    <li><a href="/team/team2020">Team 2020</a></li>
                    <li><a href="/team/team2019">Team 2019</a></li>
                    <li><a href="/team/team2018">Team 2018</a></li>
                    <li><a href="/team/team2017">Team 2017</a></li>
                    <li><a href="/team/team2016">Team 2016</a></li>
                    <li><a href="/team/team2015">Team 2015</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/media">Media</a></li>
        <li><a href="/sponsors">Our Sponsors</a></li>
        <li><a href="/contact">Support us</a></li>
        <li><a href="/contact/contact#contactFocus">Contact us</a></li>
    </ul>
    <div class="nav-wrapper navbar-fixed" >
        <nav>
            <a href="/" class="brand-logo"><img src="/Assets/roverX.svg" class="responsive-img" alt=""></a>
            <a href="#mobile" data-activates="slide-out" class="button-collapse right"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/rovers">Rover</a></li>
                <li><a href="/competitions">Competitions</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="team">Team  <i class="fa fa-caret-down"></i></a></li>
                <li><a href="/media">Media</a></li>
                <li><a href="/sponsors">Our Sponsors</a></li>
                <li><a href="/contact">Support us</a></li>
                <li><a href="/contact#contactFocus">Contact us</a></li>
            </ul>
        </nav>
    </div>
</div>